<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Search Engine</title>
</head>
<body>
    <main class="main">
        <img src="/static/images/google.svg" alt="logo here" width="30%" class="logo">
        <div class="box">
            <input type="image" name="search-boton" src="/static/images/search.jpeg" alt="icon-search" class="icon-search">
            <input type="text" name="search-text" class="tsearch" id="words">
        </div>

        <div id="pages" class="container">
            <p>Resultados:</p>    
        </div>

    </main>    
    <footer>
        <div class="footer" >
            <div class="follow">
                <p>Follow us in</p>
                <a href="https://facebook.com">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://linkedin.com">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>   
             <p>Copyrigh &copy; 2020, Desing by Jose</p>
        </div> 
    </footer>
    <script src="/static/js/app.js"></script>       
</body>
</html>












