<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Search Engine</title>
</head>
<body>
    <main class="main">
        <img src="/static/images/google.svg" alt="logo here" width="30%" class="logo">
        <div class="box">
            <input type="image" name="search-boton" src="/static/images/search.jpeg" alt="icon-search" class="icon-search">
            <input type="text" name="search-text" class="tsearch" id="words">
        </div>
    </main>    
    <footer>
        <div class="footer" >
             <p>Copyrigh &copy; 2020, Desing by Jose</p>
        </div> 
    </footer>
    <script src="/static/js/app.js"></script>       
</body>
</html>












